*{
    background-color: #F0EADA;
    font-family: 'Montserrat'; 

}
.bg{
    background-image: url('../test/images/bg_pattern_global.svg');
    background-repeat: repeat;
    opacity: 0.1;
    margin-top: 5%;
    width: 100%;
    height: 95%;

}
.field{
    background-color: #fff;

}
.wrapper{
    position: absolute;
    right: 30px;
    bottom: 85px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);

}
.wrapper .head-text{
    line-height: 60px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left,#16639f, #aedbff);

}
.wrapper .chat-box{
    padding: 30px;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    border-style: none;
    border-radius: 15px;

}
.chat-box .desc-text{
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
    background-color: #fff;

}
.chat-box form{
    padding: 5px 15px;
    margin: 30px 0;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid lightgrey;
    background-color: #fff;

}
.chat-box form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;

}
.chat-box form .field:last-child{
    margin-top: 20px;
    padding-bottom: 35px;

}
form .field input,
form .field button,
form .textarea textarea{
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    font-size: 14px;
    padding: 0 20px;
    line-height: 45px;
    transition: all 0.3s ease;

}
form .field input:focus
form .textarea textarea:focus{
    border-color: #2600ff;
    
}
form .field button{
    background-color: #16639f;
    color: #fff;
    margin-top: 20px;
    box-shadow: inset 0 0 0 0 #F0EADA;
    transition: ease-out 0.3;
    outline: none;
    cursor: pointer;
}
form .field button:hover{
    box-shadow: inset 300px 0 0 0 #aedbff;
    color: black;
}

.chat-box form .textarea{ 
    height: 90px;
    width: 100%;

}
.chat-box form .textarea textarea{
    text-align: left;
    height: 100%;
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
    color: silver;
    transition: all 0.3s ease;

}

    
