*{
    background-color: #F0EADA;
}
.bg{
    background-image: url('../test/images/bg_pattern_global.svg');
    background-repeat: repeat;
    opacity: 0.1;
    margin-top: 5%;
    width: 100%;
    height: 95%;

}
/* ---------\\\\\\\\MADS///////---------- */

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #4C85AE; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.2s; 
    font-family: 'Montserrat';font-size: 12px;
    
  }
.sidebar p {
  background-color: #4C85AE;
  font-family: 'Montserrat';font-size: 16px;
  padding-left: 12px;
  padding-right: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #F0EADA;
  background: none;
}
.sidebar_header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4C85AE;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  position: relative;
  z-index: 5;
  font-family: 'Montserrat';font-size: 12px;
} 
.gtk_btn {
  padding: 5px;
  position: relative;
  background-color: #36698d;
  font-family: 'Montserrat';font-size: 12px;
	border-radius:22px;
	border:1px solid #4C85AE;
	display:inline-block;
	cursor:pointer;
	color: #F0EADA;;
	padding:16px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4a4a4a;
}
.gtk_btn:hover{
  color: #4a4a4a;
  background-color:#F0EADA;
  text-decoration: none;
  text-shadow:0px 1px 0px #F0EADA;
}
.sidebar_body{
  
margin-left: 5px;
background-color: #4C85AE;
  

} 
.sidebar_body img{
  display: block;
  width: 50px;
  height: 50px;
  padding: 2.5%;
  background-color: #4C85AE;
}



.mySidebar_box_1{
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 250px;
  height: 58px;  
  background-color: #4C85AE
}
  .mySidebar_image_1{
    display: block;
    padding: 2px;
    background-color: #4C85AE;
  }
  .mySidebar_image_1 img{
    display: block;
    padding: 2px;
    background-color: #4C85AE;
  }
  .mySidebar_image_1 p{
    display: inline;
    font-family: 'Montserrat';font-size: 14px;
    text-decoration: none;
    text-shadow:0px 1px 0px #F0EADA;
    color: #F0EADA;
  }





  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2A2A2A;
    display: block;
    transition: 0.3s;
    background: none;
    font-family: 'Montserrat';font-size: 12px;
    background-color: #4C85AE;
  }
  
  .sidebar a:hover {
    color: #f5f5f5;
    background-color: #4C85AE;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0.2;
    left: 5px;
    font-size: 48px;
    margin-right: 50px;
    background: none;
  }
  
  .openbtn {
    cursor: pointer;
    border: none;
    position: fixed; 
    z-index: 1; 
    top: 10;
    right: 25;
    background: none;
    font-family: 'Montserrat';font-size: 12px;
    
  }
  

  
  #main {
    transition: margin-right .5s; 
    padding: 20px;
    background-color: #4C85AE;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }