*{
    background-color: #F0EADA;
    font-family: 'Montserrat'; 

}
.bg{
    background-image: url('../test/images/bg_pattern_global.svg');
    background-repeat: repeat;
    opacity: 0.1;
    margin-top: 5%;
    width: 100%;
    height: 95%;

}
.field{
    background-color: #fff;

}
label{
    position:fixed;
    right: 30px;
    bottom: 20px;
    display: inline-block;
    height: 55px;
    width: 55px;
    background: #16639f;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: none;
}
label i{
    position: relative;
    color: fff;
    background-color: none;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: #16639f;
    transition: all 0.4s;
}
label i.fas{
    opacity: 0;
    pointer-events: none;
    position:absolute;
    right: 30px;
    bottom: 20px;
    display: inline-block;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: none;
}
#click:checked ~ label i.fas{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%); rotate:(180deg);
}
#click:checked ~ label i.fa{
    opacity: 0;
    pointer-events: none;
}
.wrapper{
    position: absolute;
    right: 30px;
    bottom: 85px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);

}
.wrapper .head-text{
    line-height: 60px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left,#16639f, #aedbff);

}
.wrapper .chat-box{
    padding: 30px;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    border-style: none;
    border-radius: 15px;

}
.chat-box .desc-text{
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
    background-color: #fff;

}
.chat-box form{
    padding: 5px 15px;
    margin: 30px 0;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid lightgrey;
    background-color: #fff;

}
.chat-box form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;

}
.chat-box form .field:last-child{
    margin-top: 20px;
    padding-bottom: 35px;

}
form .field input,
form .field button,
form .textarea textarea{
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    font-size: 14px;
    padding: 0 20px;
    line-height: 45px;
    transition: all 0.3s ease;

}
form .field input:focus
form .textarea textarea:focus{
    border-color: #2600ff;
    
}
form .field button{
    background-color: #16639f;
    color: #fff;
    margin-top: 20px;
    transition: ease-out 0.3;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
form .field button:hover{
    color: #2A2A2A;
    cursor: pointer;
}
form .field button:before{
    transition: 0.5s all ease;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #aedbff;
    color:#2A2A2A;
}
form .field button:hover:before{
    transition: 0.2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.chat-box form .textarea{ 
    height: 90px;
    width: 100%;

}
.chat-box form .textarea textarea{
    text-align: left;
    height: 100%;
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
    color: silver;
    transition: all 0.3s ease;

}

    
