*{
    background-color: #F0EADA;
}
.bg{
    background-image: url('../test/images/bg_pattern_global.svg');
    background-repeat: repeat;
    opacity: 0.1;
    margin-top: 5%;
    width: 100%;
    height: 95%;

}
/* ---------\\\\\\\\MADS///////---------- */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #4C85AE; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidebar */
    font-family: 'Montserrat';font-size: 12px;
    
  }
.sidebar p {
  font-family: 'Montserrat';font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.sidebar_header{

  background: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  height: 159px;
  position: relative;
  z-index: 5;
  font-family: 'Montserrat';font-size: 12px;
} 
.gtk_btn {
  background-color: #F0EADA;
  margin: 10px 15px 0;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-family: 'Montserrat';font-size: 12px;
  

}
.sidebar_body{
  background: none;

} 
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2A2A2A;
    display: block;
    transition: 0.3s;
    background: none;
    font-family: 'Montserrat';font-size: 12px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f5f5f5;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0.2;
    left: 5px;
    font-size: 48px;
    margin-right: 50px;
    background: none;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    cursor: pointer;
    border: none;
    width: 2.5%;
    height: auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 10;
    right: 25;
    background: none;
    font-family: 'Montserrat';font-size: 12px;
  }
  

  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }